.form-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  input {
    padding: 15px 20px;
    font-size: 25px;
  }
  i {
    color: #fff;
    font-size: 40px;
    position: absolute;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
  }
}
